.image-display {
    display: flex;
    flex-direction: column;
  }
  
  .large-image img {
    width: 400px;
    border-radius: 5px;
    background-color: #fff;
    border:1px solid rgba(0, 0, 0, .102) ;
  }
  
  .thumbnail-images {
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
   
  }
  
  .thumbnail img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #fff;
  
  }
  
  .thumbnail img:hover {
    transform: scale(1.1);
  }

  .product-detail{
    display: flex;
    justify-content: space-between;
  }
  .Basic-details{
    width: 900px;
  }
  .details-head{
    border:1px solid rgba(0, 0, 0, .102) ;
    padding: 20px;
    margin: 5px;
    font-size: 22px;
  }
  .des-dis{
    width: 400px;
    border:1px solid rgba(0, 0, 0, .102) ;
    padding: 20px;
    margin: 5px;
  }
  .pre{
    width: 400px;
    border:1px solid rgba(0, 0, 0, .102) ;
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
  }
  .pre p{
    font-size: 20px;
  }
  .pre-dis{
    display: flex;

  }
  .cart-buy{
    display: flex;
    gap: 5px;
  }
  .cart-button{
    padding: 10px 20px;
    color: #fff;
    background-color: #e12827;
    border-radius: 3px;
    border: none;
  }
  .buy-button{
    padding: 10px 20px;
    color: #fff;
    background-color: #e16b3e;
    border-radius: 3px;
    border: none;
  }