*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.home-div{
    height: auto;
}
.home-div p{
    margin: 20px;
}
.grid-image{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.grid-image img{
    width: 330px;
}