*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.home-div{
    height: auto;
}
.home-div p{
    margin: 20px;
}
.grid-image {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default: 4 columns */
    gap: 5px;
  }
  
  .grid-image img {
    width: 100%; /* Make the images scale with the grid items */
    max-width: 330px;
    
  }
  
  /* For screens 1024px and smaller */
  @media (max-width: 1024px) {
    .grid-image {
      grid-template-columns: repeat(3, 1fr); /* Reduce to 3 columns */
    }
  }
  
  /* For screens 768px and smaller */
  @media (max-width: 768px) {
    .grid-image {
      grid-template-columns: repeat(2, 1fr); /* Reduce to 2 columns */
    }
  }
  
  /* For screens 480px and smaller */
  @media (max-width: 480px) {
    .grid-image {
      grid-template-columns: 1fr; /* Single column for small screens */
      width: 330px;
      margin-left: 40px;
    }
  }
  
